<h1>Welcome to the Car Simulator</h1>
<p> <img src="https://media.giphy.com/media/PcnjCZsnzhGJG/giphy.gif"/></p>
<form action="/car/create_car" method="get">
  <input type="text" name="make" placeholder="Make" required/></br>
  <input type="number" name="year" min="1000" placeholder="Year" required/></br>
  <input type="color" name="user_color" value="#ffffff" required/>
  <input type="submit" value="Simulate Car"/>
</form>
